<section id="about" class="text-center">
<!-- about -->
<div class="container">
    <h1>{{ current.fields.heading.heading }}</h1>
    <p>{{ current.fields.heading.description }}</p>
    <h1 class="second">The team</h1>
    <div class="row">
        {% for staff in boxes.team.all %}
            <div class="col-md-4  {% if loop.index is divisibleby(2) %}margin-left{% endif %}">
                <div class="thumb">
                    <img class="img-responsive" src="{{ staff.image }}">
                </div>
                <div class="cont">
                    <h3>{{ staff.name }}</h3>
                    {{ staff.bio }}
                </div>
            </div>
            {% if loop.index is divisibleby(2) %}
                 {% endif %}
        {% endfor %}
                </div>
               
       
    
</div>
</section>