
<section id="events">
  <!-- events -->
  <div class="container">
      <h2 class="text-center">events</h2>
      <div class="row">
      <div class="col-md-6">
        {% for menu in boxes.event_menus.all %}
            <h3>
              {{ menu.name }}
            </h3>
            {{ menu.fields.description }}
            {% if loop.index is divisibleby 3 %}</div><div class="col-md-6 margin-left">{% endif %}
        {% endfor %}

        <div class="contact">
            <h3>contact us</h3>
            <p>Phone: {{ boxes.locations.all[0].phone_number }} or <a href="#">info@ninebark-napa.com</a> </p>
        </div>
      </div>
      </div>

      <div class="row join">
          <div class="col-md-6 col-md-offset-3 text-center">
              <p>Join our mailing list <span>for the latest news & offers</span> </p>
                <form id="email_newsletter" method="post" name="signup" action="/email_provider_subscribe/">
                    <input type="hidden" name="group_id" value="2787381" />
                     {% csrf_token %}
                        <div style="display: none;">
                            <label>leave this field blank to prove your humanity
                                <input type="text" name="comment_body" value="" />
                            </label>
                        </div>
                  <input type="text" name="email" placeholder="email address">
                  <button type="submit">join</button>
              </form>
              <div class="clearfix"></div>
              <div id="success" style="display:none">Thank you for signing up.</div>
              <div id="error" style="display:none">Sorry - there was an error.<br> Please try again later.</div>
          </div>
      </div>
  </div>
</section>