<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ninebark</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/fonts.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static('css/slick.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static('css/main.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static('css/media.css') }}" />
</head>

<body data-spy="scroll" data-target="#myNav">
    <!-- header -->
    <header class="clearfix">
        <div class="header-content clearfix">
            <a href="#" class="logo">
                <img src="{{ static('images/logo_03.png') }}" />
            </a>
            <!-- navigation here -->
            <nav id="myNav">
                <ul class="nav clearfix">
                    <li class="menu"><a href="#menu">MENU</a></li>
                    <li class="about"><a href="#about">ABOUT</a></li>
                    <li class="press"><a href="#press">PRESS</a></li>
                    <li class="events"><a href="#events">EVENTS</a></li>
                    <li class="contact"><a href="#contact">CONTACT</a></li>
                    <li class="home"><a href="#home">BOOK NOW</a></li>
                    <li class="clearfix social-li visible-xs">
                        <ul class="social visible-xs">
                            <li>
                                <a class="fb" href="#"></a>
                            </li>
                            <li>
                                <a class="inst" href="#"></a>
                            </li>
                            <li>
                                <a class="tw" href="#"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <ul class="social">
                <li>
                    <a class="fb" href="#"></a>
                </li>
                <li>
                    <a class="inst" href="#"></a>
                </li>
                <li>
                    <a class="tw" href="#"></a>
                </li>
            </ul>
            <div class="menu-toggle-btn visible-xs">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </header>
    <!-- home section -->
    <div class="my-page">
        <section id="home">
            <div class="book-now-box">
                <a class="book-now-btn" href="#">
                    BOOK NOW
                </a>
            </div>
        </section>
        <!-- menu -->
        <section id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="menu-nav">
                            <li class="active"><a href="#">dinner</a></li>
                            <li><a href="#">lunch</a></li>
                            <li><a href="#">sweets</a></li>
                            <li><a href="#">drinks</a></li>
                            <li><a href="#">wine</a></li>
                        </ul>
                        <div class="bg1">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="menu-content active" data-index="dinner">
                            <h2>dinner</h2>
                            <h3>salads</h3>
                            <p>grilled avocado, market vegetables, heirloom citrus dressing, crispy sprouts and rye crisp
                                <br> hearts of market broccoli, smoked cheddars cheese, green godess dressing, arugula
                                <br> greens of different varieties, textures and flavors, black garlic, smoked anchovy dressing, sheep's milk cheese
                                <br>watermelon and summer melon "horiatiki", local feta, olives, oregano, and fresh pressed olive oil charcoal cooked beets done in the style of pimento cheese, garlic tartine, bacon and roasted hazelnuts </p>
                            <h3>appetizers</h3>
                            <p>grilled lobster tail, and aged beef tartare, house made pickles, oven roasted tomatoes, beef garum dressing
                                <br> salt cod and potato beignet, malt vinegar, ramp aioli, pickled greens
                                <br> stewed, and grilled artichokes, tillamook cheddar, heirloom grits, soft scrambled eggs
                                <br> bodega bay rock cod, marinated in brown butter dashi, aromatic seeds and spices, sunflower oil
                                <br> flat bread baked in charcoal oven, fennel sausage, braised kale, pecorino cheese, aleppo chili chicken and spot prawn dumpling, gravy of roasted chicken and grilled spot prawn heads </p>
                            <h3>skewers</h3>
                            <p>trout from mt. lassen, lightly perfumed over cedar branch, eggplant, mushroom, fragrant oils, mushroom stock
                                <br> house blackened sturgeon collar, slow smoked over hardwood, porridge of heirloom rice, and sourdough
                                <br> grilled blue mussels, flavors of white wine tarragon, potatoes, miso and ham
                                <br> giant clams, smoked over aromatic shrubs, crunchy and soft cucumbers, flavors or "ranch dressing" octopus marinated in sweet, spicy and sour dressing, house cured lardo, bitter greens kohlrabi</p>
                            <h3>plates</h3>
                            <p>roasted duck, finished of charcoal, romesco of crispy sunchokes, garden sorrel, sauce of roasted duck
                                <br> aged ribeye, rubbed with grain miso, sauce of garden herbs, charcoal grilled potatoes, onion tops roasted pork, country pan gravy, grilled squash, country sausage, toasted grains
                                <br> half moon bay petrale sole, baked in charcoal oven, aromatic jus of white wine, chicken stock and cream, turnips
                                <br> smoked halibut, lightly poached in escabeche, ragout of chickpeas, fresh and dried, broth of stewed vegetables</p>
                            <h3>sides</h3>
                            <p>crispy brussel sprouts, fish sauce sesame, chili, lime grilled broad beans, fermented lime dressing oven baked shishito peppers, cured egg yolk goat cheese</p>
                        </div>
                        <div class="menu-content" data-index="lunch">
                            <h2>dinner</h2>
                            <h3>salads</h3>
                            <p>grilled avocado, market vegetables, heirloom citrus dressing, crispy sprouts and rye crisp
                                <br> hearts of market broccoli, smoked cheddars cheese, green godess dressing, arugula
                                <br> greens of different varieties, textures and flavors, black garlic, smoked anchovy dressing, sheep's milk cheese
                                <br>watermelon and summer melon "horiatiki", local feta, olives, oregano, and fresh pressed olive oil charcoal cooked beets done in the style of pimento cheese, garlic tartine, bacon and roasted hazelnuts </p>
                            <h3>appetizers</h3>
                            <p>grilled lobster tail, and aged beef tartare, house made pickles, oven roasted tomatoes, beef garum dressing
                                <br> salt cod and potato beignet, malt vinegar, ramp aioli, pickled greens
                                <br> stewed, and grilled artichokes, tillamook cheddar, heirloom grits, soft scrambled eggs
                                <br> bodega bay rock cod, marinated in brown butter dashi, aromatic seeds and spices, sunflower oil
                                <br> flat bread baked in charcoal oven, fennel sausage, braised kale, pecorino cheese, aleppo chili chicken and spot prawn dumpling, gravy of roasted chicken and grilled spot prawn heads </p>
                            <h3>skewers</h3>
                            <p>trout from mt. lassen, lightly perfumed over cedar branch, eggplant, mushroom, fragrant oils, mushroom stock
                                <br> house blackened sturgeon collar, slow smoked over hardwood, porridge of heirloom rice, and sourdough
                                <br> grilled blue mussels, flavors of white wine tarragon, potatoes, miso and ham
                                <br> giant clams, smoked over aromatic shrubs, crunchy and soft cucumbers, flavors or "ranch dressing" octopus marinated in sweet, spicy and sour dressing, house cured lardo, bitter greens kohlrabi</p>
                            <h3>plates</h3>
                            <p>roasted duck, finished of charcoal, romesco of crispy sunchokes, garden sorrel, sauce of roasted duck
                                <br> aged ribeye, rubbed with grain miso, sauce of garden herbs, charcoal grilled potatoes, onion tops roasted pork, country pan gravy, grilled squash, country sausage, toasted grains
                                <br> half moon bay petrale sole, baked in charcoal oven, aromatic jus of white wine, chicken stock and cream, turnips
                                <br> smoked halibut, lightly poached in escabeche, ragout of chickpeas, fresh and dried, broth of stewed vegetables</p>
                        </div>
                        <div class="menu-content" data-index="sweets">
                            <h2>sweets</h2>
                            <h3>sweets</h3>
                            <p>japanese style cheesecake, grilled strawberries, cream cheese ice cream thousand layers of chocolate smores, marshmallow, chocolate mousse, burnt sugar summer melon tart, sweet almond paste, fresh meringue, flowers, and their essence roasted hazelnut torte, chocolate fudge, ice cream of orange blossom and spices soft serve of local cream, with slow grilled figs and dried fig wafersraspberry and verbena sorbet, raspberry sauce, licorice, honey and honey pollen </p>
                        </div>
                        <div class="menu-content" data-index="drinks">
                            <h2>dinner</h2>
                            <h3>salads</h3>
                            <p>grilled avocado, market vegetables, heirloom citrus dressing, crispy sprouts and rye crisp
                                <br> hearts of market broccoli, smoked cheddars cheese, green godess dressing, arugula
                                <br> greens of different varieties, textures and flavors, black garlic, smoked anchovy dressing, sheep's milk cheese
                                <br>watermelon and summer melon "horiatiki", local feta, olives, oregano, and fresh pressed olive oil charcoal cooked beets done in the style of pimento cheese, garlic tartine, bacon and roasted hazelnuts </p>
                            <h3>appetizers</h3>
                            <p>grilled lobster tail, and aged beef tartare, house made pickles, oven roasted tomatoes, beef garum dressing
                                <br> salt cod and potato beignet, malt vinegar, ramp aioli, pickled greens
                                <br> stewed, and grilled artichokes, tillamook cheddar, heirloom grits, soft scrambled eggs
                                <br> bodega bay rock cod, marinated in brown butter dashi, aromatic seeds and spices, sunflower oil
                                <br> flat bread baked in charcoal oven, fennel sausage, braised kale, pecorino cheese, aleppo chili chicken and spot prawn dumpling, gravy of roasted chicken and grilled spot prawn heads </p>
                            <h3>skewers</h3>
                            <p>trout from mt. lassen, lightly perfumed over cedar branch, eggplant, mushroom, fragrant oils, mushroom stock
                                <br> house blackened sturgeon collar, slow smoked over hardwood, porridge of heirloom rice, and sourdough
                                <br> grilled blue mussels, flavors of white wine tarragon, potatoes, miso and ham
                                <br> giant clams, smoked over aromatic shrubs, crunchy and soft cucumbers, flavors or "ranch dressing" octopus marinated in sweet, spicy and sour dressing, house cured lardo, bitter greens kohlrabi</p>
                            <h3>plates</h3>
                            <p>roasted duck, finished of charcoal, romesco of crispy sunchokes, garden sorrel, sauce of roasted duck
                                <br> aged ribeye, rubbed with grain miso, sauce of garden herbs, charcoal grilled potatoes, onion tops roasted pork, country pan gravy, grilled squash, country sausage, toasted grains
                                <br> half moon bay petrale sole, baked in charcoal oven, aromatic jus of white wine, chicken stock and cream, turnips
                                <br> smoked halibut, lightly poached in escabeche, ragout of chickpeas, fresh and dried, broth of stewed vegetables</p>
                        </div>
                        <div class="menu-content" data-index="wine">
                            <h2>dinner</h2>
                            <h3>salads</h3>
                            <p>grilled avocado, market vegetables, heirloom citrus dressing, crispy sprouts and rye crisp
                                <br> hearts of market broccoli, smoked cheddars cheese, green godess dressing, arugula
                                <br> greens of different varieties, textures and flavors, black garlic, smoked anchovy dressing, sheep's milk cheese
                                <br>watermelon and summer melon "horiatiki", local feta, olives, oregano, and fresh pressed olive oil charcoal cooked beets done in the style of pimento cheese, garlic tartine, bacon and roasted hazelnuts </p>
                            <h3>appetizers</h3>
                            <p>grilled lobster tail, and aged beef tartare, house made pickles, oven roasted tomatoes, beef garum dressing
                                <br> salt cod and potato beignet, malt vinegar, ramp aioli, pickled greens
                                <br> stewed, and grilled artichokes, tillamook cheddar, heirloom grits, soft scrambled eggs
                                <br> bodega bay rock cod, marinated in brown butter dashi, aromatic seeds and spices, sunflower oil
                                <br> flat bread baked in charcoal oven, fennel sausage, braised kale, pecorino cheese, aleppo chili chicken and spot prawn dumpling, gravy of roasted chicken and grilled spot prawn heads </p>
                            <h3>skewers</h3>
                            <p>trout from mt. lassen, lightly perfumed over cedar branch, eggplant, mushroom, fragrant oils, mushroom stock
                                <br> house blackened sturgeon collar, slow smoked over hardwood, porridge of heirloom rice, and sourdough
                                <br> grilled blue mussels, flavors of white wine tarragon, potatoes, miso and ham
                                <br> giant clams, smoked over aromatic shrubs, crunchy and soft cucumbers, flavors or "ranch dressing" octopus marinated in sweet, spicy and sour dressing, house cured lardo, bitter greens kohlrabi</p>
                            <h3>plates</h3>
                            <p>roasted duck, finished of charcoal, romesco of crispy sunchokes, garden sorrel, sauce of roasted duck
                                <br> aged ribeye, rubbed with grain miso, sauce of garden herbs, charcoal grilled potatoes, onion tops roasted pork, country pan gravy, grilled squash, country sausage, toasted grains
                                <br> half moon bay petrale sole, baked in charcoal oven, aromatic jus of white wine, chicken stock and cream, turnips
                                <br> smoked halibut, lightly poached in escabeche, ragout of chickpeas, fresh and dried, broth of stewed vegetables</p>
                        </div>
                        <div class="bg2"></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="about" class="text-center">
            <!-- about -->
            <div class="container">
                <h1>NINEBARK</h1>
                <p>A Napa Valley dining experience by 2 Michelin star chef Matthew Lightner and AvroKO
                    <br> featuring California-focused, market-forward cuisine.</p>
                <h1 class="second">The team</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <img class="img-responsive" src="{{ static('images/thumb_03.jpg') }}">
                        </div>
                        <div class="cont">
                            <h3>Chef Mattew Lightner</h3>
                            <h4>Over the last decade, Lightner has become a <br> name synonymous with culinary excellence.</h4>
                            <p class="small">
                                Born and raised in the Midwest, Lightner first moved to the West Coast 1999, where he graduated culinary school and began his cooking career working in kitchens from Oregon to California including chef de cuisine at L'Auberge in Del Mat, California.
                            </p>
                            <p class="small">
                                From there, Lightner set path overseas where he worked in some of the world's greatest kitchens including a stage at Noma in Copenhagen and an exclusive 18-month program at Mugaritz in the Basque region of Spain where he developed and perfected the techniques and flavors he is incorporating into the NINEBARK repertoire.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 margin-left">
                        <div class="thumb">
                            <img class="img-responsive" src="{{ static('images/thumb_05.jpg') }}">
                        </div>
                        <div class="cont">
                            <h3>Chef Mattew Lightner</h3>
                            <h4>Over the last decade, Lightner has become a <br> name synonymous with culinary excellence.</h4>
                            <p class="small">
                                Born and raised in the Midwest, Lightner first moved to the West Coast 1999, where he graduated culinary school and began his cooking career working in kitchens from Oregon to California including chef de cuisine at L'Auberge in Del Mat, California.
                            </p>
                            <p class="small">
                                From there, Lightner set path overseas where he worked in some of the world's greatest kitchens including a stage at Noma in Copenhagen and an exclusive 18-month program at Mugaritz in the Basque region of Spain where he developed and perfected the techniques and flavors he is incorporating into the NINEBARK repertoire.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="press">
            <!-- press -->
            <div class="container">
                <h2 class="text-center">press</h2>
                <div class="press-slider">
                    <div class="slide"><img src="{{ static('images/slider-img_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img2_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img3_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img4_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img5_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img6_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img7_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img8_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img2_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img3_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img4_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img5_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img6_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img7_03.jpg') }}"></div>
                    <div class="slide"><img src="{{ static('images/slider-img8_03.jpg') }}"></div>
                </div>
            </div>
        </section>
        <section id="events">
            <!-- events -->
            <div class="container">
                <h2 class="text-center">events</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>dinner</h3>
                        <p>We offer various menu options for groups of 10 or more. All the menus are served family style. Please contact our events manager for more information</p>
                        <h3>cocktails & canapes</h3>
                        <p>Host a cocktail party from 10 to 200 guests at NINEBARK or Fagiani's Bar at NINEBARK, featuring a selection of our canapes is available to either be stationed or passed by the The NINEBARK staff.</p>
                        <h3>wedding & ceremonies</h3>
                        <p>Reserve our unique space for a wonderful, one-of-a-kind wedding backdrop. We can accomodate a variety of spatial and seating options for a ceremony, reception, sit-down dinner, dancing, and more. We welcome outside event planners, florists, and are flexible to meet your wedding needs.</p>
                    </div>
                    <div class="col-md-6 margin-left">
                        <h3>brunch</h3>
                        <p>We serve brunch 6 days a week from Tuesday-Sunday between 11am and 2.30pm, and we can accommodate private or semi-private brunch events at these times. We offer a seasonal 3-course prix fixe option for $35/person.</p>
                        <h3>photoshoots and filming</h3>
                        <p>NINEBARK' architecture, interiors and lighting provide a rich and textured setting for a photo shoot or filming.</p>
                        <div class="contact">
                            <h3>contact us</h3>
                            <p>Phone: 707.226.7821 or <a href="#">info@ninebark-napa.com</a> </p>
                        </div>
                    </div>
                </div>
                <div class="row join">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p>Join our mailing list <span>for the latest news & offers</span> </p>
                        <form>
                            <input type="text" name="email" placeholder="email address">
                            <button type="submit">join</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <h2 class="text-center">contact us</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>phone number & email</h3>
                        <ul>
                            <li>Phone: 707.226.7821</li>
                            <li>General Inquiries: info@ninebark-napa.com</li>
                            <li>Event Inquiries: info@ninebark-napa.com</li>
                            <li>Press & Media: Marion Emmanuelle
                                <br>marion@avroko.com</li>
                        </ul>
                        <h3>hours</h3>
                        <h4>Dinner</h4>
                        <p>Tuesday-Sunday: 5.30pm - 10pm</p>
                        <h4>Brunch</h4>
                        <p>Tuesday-Sunday: 11am - 2.30pm</p>
                    </div>
                    <div class="col-md-6 padding-left">
                        <h3>location</h3>
                        <p>813 Main Street Napa, CA94559</p>
                        <img src="{{ static('images/map_03.png') }}" class="img-responsive map-img" />
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="{{ static('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/main.js') }}"></script>
</body>

</html>
