<section id="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="menu-nav">
                {% for menu in boxes.menus.all %}
                    <li><a href="#">{{ menu.name }}</a></li>
                {% endfor %}
                </ul>
                <div class="bg1">
                </div>
            </div>
            <div class="col-md-9">
                {% for menu in boxes.menus.all %}
                <div class="menu-content" data-index="{{ menu.name }}">

                    {{ menu.description }}
                    <div class="slider-gall">
                        <ul class="slides">
                             {% for image in menu.images %}
                    <li class="bg2"><img class="img-responsive"src="{{ menu.image }}" /> </li>
                    {% endfor %}
                        </ul>
                   
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</section>